.footer {
  background: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(#000), to(transparent));
  background: linear-gradient(360deg, #000, #000, transparent);
  color: #fff;
  padding: 20px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  /* z-index: 1000; */
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20vh;
  gap: 7vh;
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  padding: 60px;
  background-color: rgba(var(--foreground-color-rgb), 0.9);
}

.contact-wrapper .contact-logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-wrapper .contact-logo-wrapper .contact-logo {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  width: 5vw;
  height: auto;
}

.contact-wrapper .contact-logo-wrapper h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.contact-wrapper .contact-issues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  gap: 20px;
}

.contact-wrapper .contact-issues h3 {
  text-align: left;
  width: 100%;
}

.contact-wrapper .contact-issues .contact-issues-button {
  font-size: 1.5rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 20px;
}

.contact-wrapper .contact-issues .contact-issues-button a {
  color: var(--font-color-primary);
  text-decoration: none;
  height: 45px;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid var(--font-color-primary);
  font-style: italic;
  gap: 10px;
}

.contact-wrapper .contact-issues .contact-issues-button a img {
  height: 15px;
  margin-left: 20px;
}

.contact-wrapper .contact-issues .contact-issues-button button {
  color: #000;
  background-color: var(--font-color-primary);
  text-decoration: none;
  height: 45px;
  text-align: center;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid var(--font-color-primary);
  font-size: medium;
  font-weight: 600;
}

.footer-wrapper {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer-wrapper .footer-quote {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-wrapper .footer-quote h3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
}

.footer-wrapper .footer-quote p {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  color: var(--font-color-primary);
  font-style: italic;
  font-weight: lighter;
}

.footer-wrapper .links {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.footer-wrapper .links .links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 20px;
}

.footer-bottom {
  width: 50%;
}

.footer-bottom h5 {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--font-color-primary);
  font-style: italic;
  font-weight: lighter;
  margin-top: 10px;
}
@media (max-width:600px) {
  .footer{
    padding: 0;
    gap: 20px;
  }
  .contact-wrapper{
    width: 100%;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    gap: 20px;
  }
  .contact-wrapper .contact-logo-wrapper h3 {
    font-size: 1.2rem;
  }
  .contact-issues{
    width: 85% !important;
  }
  .contact-issues h3{
    text-align: center !important;
  }
  .footer-bottom{
    margin-bottom: 100px;
  }
  .contact-wrapper .contact-issues .contact-issues-button a img{
    margin-left: 10px;
  }
  .contact-wrapper .contact-issues .contact-issues-button{
    gap: 10px;
  }
}