.stats {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100%;
    margin-top: 9vh;
}

.stat {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 21vw;
    height: 7vw;
}

.stat_counter {
    width: 7vw;
    height: 7vw;
    background-color: #e56806;
    font-size: 1.9rem;
    font-weight: 700;
    color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat_content {
    width: 14vw;
    height: 7vw;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}

.stat_content_title {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #e56806;
}

.stat_content_subtitle {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #cfcfcf;
}