.navbar {
  display: flex;
  justify-content: space-between;
  height: 9vh;
  width: 100%;
  backdrop-filter: blur(15px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(26, 26, 29, 0.75);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar_logo__container {
  height: 100%;
  width: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar_logo {
  height: 50%;
  width: auto;
  margin: auto 0;
  aspect-ratio: 1/1;
}

.navbar_hamburger__container {
  height: 100%;
  width: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar_title {
  text-transform: uppercase;
  font-weight: 700;
  color: #cfcfcf;
  font-style: italic;
  margin: auto 0;
  text-align: center;
  display: none;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu li {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 1.5vw;
  padding: 0 0.5vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.menu li.active {
  border-bottom: 3px solid rgba(255, 255, 255, 0.75);
}

.menu li.active a {
  color: #fff;
}

a {
  text-decoration: none;
  color: #cfcfcf;
  font-size: 1.1rem;
  font-weight: 500;
}

a:hover {
  color: #fff;
}

.menu-icon {
  cursor: pointer;
  margin: auto 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  user-select: none;
}

.menu-btn:hover {
  background-color: #f4f4f4;
}

.menu-btn {
  display: none;
}

.navicon {
  background-color: #cfcfcf;
  width: 45%;
  height: 4px;
  border-radius: 25px;
  display: block;
  position: relative;
  transition: background-color 0.2s ease-out;
}

.navicon:before,
.navicon:after {
  margin: 0 10%;
  background-color: #cfcfcf;
  border-radius: 25px;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 80%;
}

.navicon:before {
  top: 10px;
}

.navicon:after {
  top: -10px;
}

@media (max-width: 768px) {
  .navbar {
    height: 7.5vh;
  }
  .navbar_title {
    display: block;
  }
  .navbar_logo__container {
    width: 7.5vh;
  }
  .navbar_hamburger__container {
    width: 7.5vh;
  }
  .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  .menu {
    opacity: 0;
    flex-direction: column;
    pointer-events: none;
    transform: translate(0, -50%);
    position: absolute;
    width: 100%;
    height: auto;
    top: calc(100% + 1px);
    backdrop-filter : blur(25px);
    background-color: rgba(26, 26, 29, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  .open {
    position: absolute;
    transform: translate(0, 0);
    z-index: 1000;
    opacity: 1;
    pointer-events: all;
    padding: 2.5vw;
  }

  .open li {
    padding: 2.5vw 0;
  }

  .open li a {
    font-size: 1.5rem;
  }
}
