@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

:root {
  --font-color-primary: #cfcfcf;
  --font-color-secondary: #fff;
  --background-color: #000;
  --foreground-color-rgb: 26, 26, 29;
  --foreground-color-secondary: #cfcfcf;
  --border-accent-color-primary: 255, 108, 0;
  --border-color-rgb: 255, 255, 255;
  --hover-color-primary: #f4f4f4;
  --blur-strength: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--background-color);
  height: 100vh;
  transition: color 1s ease;
  overflow-x: hidden;
}

#root {
  overflow: hidden;
}

section {
  width: 100%;
  color: var(--font-color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 2.5px;
}

::-webkit-scrollbar-track {
  backdrop-filter: blur(15px) saturate(200%);
  -webkit-backdrop-filter: blur(15px) saturate(200%);
  background-color: rgba(var(--foreground-color-rgb), 0.75);
  border-bottom: 1px solid rgba(var(--border-color-rgb), 0.2);
}

::-webkit-scrollbar-thumb {
  background: #cfcfcf30;
}

#not-built {
  height: 100vh;
}

#home {
  height: 100vh;
  transform: translateY(-15px);
}

#about {
  height: 91vh;
}

#timeline {
  height: 91vh;
}

#sponsors {
  height: auto;
  padding: 10vh 0;
}

#faq {
  height: auto;
  padding-top: 10vh;
}

#footer{
  display: flex;
  justify-content: center;
  align-items: center;
}